  <h1>新規タスク</h1>
    <%= form_for(@task) do |f| %>
      <div><%= f.label :タイトル %></div>
      <div><%= f.text_field :title %></div>
      <div><%= f.label :内容 %></div>
      <div><%= f.text_field :description %></div>
      <div><%= f.label :作業終了予定日 %></div>
      <div><%= f.date_select :planned_finished_at, {:use_month_numbers => true} %></div>      
      <div><%= f.label :優先度 %></div>
      <div><%= f.select :priority, Task.priorities.keys.to_a, {} %></div> 
      <div><%= f.submit %></div>
    <% end %>
    <%= link_to '戻る', tasks_path %>